body {
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

h1 {
  font-size: 50px;
  border-left: 7px solid;
  border-image: linear-gradient(tomato, tomato);
  border-image-slice: 1;
  padding-left: 3%;
}
h1 span {
  color: orange;
}
.half-width img {
  width: 80%;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(tomato, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
