body {
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

h1 {
  font-size: 50px;
  border-left: 7px solid;
  border-image: linear-gradient(tomato, tomato);
  border-image-slice: 1;
  padding-left: 5%;
}
h1 span {
  color: orange;
}
.half-width img {
  width: 100%;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(tomato, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  font-weight: 700px;
  padding-bottom: 50px;
}
h2 span {
  color: orange;
}
.mission {
  background-color: rgb(188, 217, 255);
  border-radius: 20px;
}
.vission {
  background-color: rgb(255, 186, 238);
  border-radius: 20px;
}
.goals {
  background-color: rgb(253, 241, 174);
  border-radius: 20px;
}
h3 {
  font-size: 30px;
  font-weight: 700px;
  padding-bottom: 5px;
}
